use Mix.Config

config :logger, level: :info

config :boringbot, bots: [
  %{:server => "irc.mozilla.org", :port => 6667,
    :nick => "boringbot",
    :user => "boringbot",
    :pass => "XXX",
    :name => "Bors-NG IRC bot",
    :channel => "#bors"}
]

config :boringbot, http: [
  port: 80,
  webhook_secret: "XXX",
  webhook_to: "boringbot"
]
